<div class="mt-4">
  <h3>Đăng sản phẩm</h3>
  <form method="POST" action="/product/store">

    <div class="form-group">
      <label for="description">Mô tả</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
      />
    </div>

    <div class="form-group">
      <label for="name">tên sp</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>

    <div class="form-group">
      <label for="img">link ảnh</label>
      <input type="text" class="form-control" id="img" name="img" />
    </div>

    {{!-- <div class="form-group">
      <label for="role">trường</label>
      <input type="text" class="form-control" id="role" name="role" />
    </div> --}}

    <div class="form-group">
      <label for="price">giá</label>
      <input type="text" class="form-control" id="price" name="price" />
    </div>

    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
  </form>
</div>